{% extends 'header.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx">

<head>
     
</head>

<body>

     <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>User profile</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <span>profile</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    

   

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-6 col-md-6">
                    <div class="contact__form">
                        {% if msg %}
                        <b style="color: blue;">{{msg}}</b>
                        {% endif %}
                        <form action="{% url 'profile' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">

                            <div class="col-lg-12">
                                    <input name="fname" id="name" type="text" value="{{user.fname}}">
                                </div>

                                <div class="col-lg-12">
                                    <input name="lname" id="name" type="text" value="{{user.lname}}">
                                </div>

                                 <div class="col-lg-12">
                                    <textarea name="address" id="message" cols="30" rows="9">{{user.address}}</textarea> 
                                </div>

                                  <div class="col-lg-12">
                                    <input name="email" id="email" type="email" value="{{user.email}}" placeholder="Enter email address" readonly>
                                </div>

                                 <div class="col-lg-12">
                                    <input name="mobile" id="subject" type="text"  value="{{user.mobile}}">
                                </div>

                                 <div class="col-lg-12">
                                    <input name=" profile_picture" id="subject" type="file">
                                </div>


                                 <div class="col-lg-12">
                                   <img src="{{user.profile_picture.url}}" style="width:90px;height:90px;border-radius: 50%;">
                                </div>

                                 
                                <div class="col-lg-12">
                                    <button type="submit" class="site-btn"> update profile</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    
</body>
</html>
{% endblock %}